@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+LA+Guides&display=swap');


body {
    background-color: rgb(255, 231, 230);
    box-sizing: content-box 250px;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(5, 10%);
    grid-template-rows: repeat(3, 150px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;

}

.grilla img {
    width: 100%;
    height: 100%;
}

.img1 {
    grid-column: 3/4;
    grid-row: 3/3;
}

.img2 {
    grid-column: 1/2;
    grid-row: 1/4;

}

.imagen3 {
    grid-column: 3/6;
    grid-row: 1/3;
}

.imagen4 {
    grid-column: 4/6;
    grid-row: 3/4;
}


p {
    background-color: #F75270;
    text-align: justify;
}

.cero {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #75041d;
    display: inline;
}

.uno {
    font-size: large;
    font-family: "Playwrite DE LA Guides", cursive;
    color: rgb(71, 5, 5);
}

.dos {
    font-family: "Playwrite DE LA Guides", cursive;
    color: #F7CAC9;
}

h1 {
    background-color: #F75270;
    font-size: 50px;
    color: #DC143C;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    display: inline;
    border-radius: 2%;
    border: 2px solid;
}

h2 {
    font-size: large;
    color: #dd224b;
    font-family: "IM Fell English SC", serif;
}

h3 {
    color: #75041d;
    font-family: "Montserrat", sans-serif;
}

i {
    size: 500px;
}

footer{
  font-family: "IM Fell English SC", serif;
}

li {
    display: inline;
    margin: 9px 10px;

    padding: 10px auto;

    border: 2px rgb(49, 255, 203) double;
    background-color: rgb(227, 202, 255);
}

li {
    background-color: #fff562;
}

main {
    width: 40% auto;
    margin: 10px auto;
}